<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="application/javascript" src="src/router/index.js"></script>
  <title>y</title>
</head>


<body>
<div id="app">
      <span v-bind:title="message">

       悬停。。
      </span>


  <span v-if="seen">
        {{message}}
  </span>


  <span>
    <ol>
      <li v-for="todo in todos">
         {{todo.text}}
      </li>
    </ol>
  </span>

  <!--点击事件-->
  <span>
    <p>{{reversemessage}}</p>
    <button v-on:click="reverseMessage">reverseMessage</button>
  </span>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">反转消息</button>
  </div>
</div>
<!-- built files will be auto injected -->


<!--组件-->

<div id="app-7">
  <ol>
    <todo-item
    v-for="item in groceryList"
    v-bind:todo="item"
    v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

</body>


<script>


  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js!'
    },
    methods: {
      reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })








  var app = new Vue({
    el: '#app',
    data: {
      message: '页面加载于 ' + new Date().toLocaleString()
      , reversemessage: 'hello world'
      , seen: true
      , todos: [
        {
          text: '学习vue'
        }
        ,
        {
          text: '学习JavaScript'
        }
        ,
        {
          text: 'Hello Vue!'
        }
      ],
      methods: {
        reverseMessage: function () {
          this.reversemessage = this.reversemessage.split('').reverse().join('')
        }
      }

    }
  })
  //改变值
  app.seen = false

  /**
   * 组建化
   */
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
  })


  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
        { id: 0, text: '蔬菜' },
        { id: 1, text: '奶酪' },
        { id: 3, text: '随便其它什么人吃的东西' }
      ]
    }
  })
</script>
</html>
